 .forecast-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.forecast-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 16px;
  width: 90px;
  text-align: center;

  color: rgb(76, 104, 121);

  backdrop-filter: blur(10px);

  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.forecast-day {
  color: blue;
  font-weight: bold;
  font-size: 16px;
}

.forecast-temp {
   color: blue;
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0;
}

.forecast-min {
  opacity: 0.7;
}

.forecast-icon {
  font-size: 35px;
  margin: 10px 0;
}