 .card {
  background: linear-gradient(135deg, #89c0d1, #9da571);
  color: white;
  padding: 25px;
  border-radius: 20px;
  width: 280px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  width: 100px;
}

.day {
  font-weight: bold;
  opacity: 0.8;
}

.temp {
  font-size: 26px;
  font-weight: bold;
}

.condition {
  text-transform: capitalize;
  opacity: 0.9;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.time {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}