 .card {
  background: #8bd8f0;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.icon {
  width: 100px;
}

.temp {
  font-size: 22px;
  font-weight: bold;
}

.condition {
  text-transform: capitalize;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.time {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.7;
}